* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
}

.hero {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
                url("../images/hero.png") center/cover no-repeat;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    color: #fff;
    max-width: 700px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: #c9a24d;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

section {
    padding: 60px 20px;
    max-width: 1100px;
    margin: auto;
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #f5f5f5;
    padding: 30px;
    border-radius: 6px;
    text-align: center;
}

.card span {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.destaque {
    background: #c9a24d;
    color: #fff;
}

.cta {
    background: #222;
    color: #fff;
    text-align: center;
}

footer {
    background: #111;
    color: #aaa;
    text-align: center;
    padding: 20px;
}

.carousel {
    height: 100%;
    overflow: hidden;
    display: flex;
}

.carousel-inner {
    display: flex;
    width: 500%;
    height: 100%;
    animation: slideCarousel 20s infinite ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    height: 100%;
    filter: brightness(65%)
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slideCarousel {
    0%, 15% {
        transform: translateX(0%);
    }
    20%, 35% {
        transform: translateX(-100%);
    }
    40%, 55% {
        transform: translateX(-200%);
    }
    60%, 75% {
        transform: translateX(-300%);
    }
    80%, 100% {
        transform: translateX(-400%);
    }
}

.card-hotel {
    background: #ffffff;
    border-radius: 14px;
    padding: 30px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    flex: 0 0 50rem; /* Largura fixa de 50rem */
    max-width: 100%; /* Evita overflow em telas menores */
    box-sizing: border-box;
}

.card-body {
    padding: 1rem 1.2rem 0rem 0rem;
}

.card-text {
    font-size: 1.15rem;
    line-height: 1.45;
    color: #4b5563;
    margin-top: 12px;
    text-align: left;
}

.card-title {
    line-height: 1.45;
    margin-top: 0.15rem;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 25px;
}

.card-logo {
    display: flex;
    width: 35px;
    height: 35px;
}

.card-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 40px 0px 40px 0px;
}